.main_title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 35px;
  padding-top: 45px;
  color: var(--main-text-color);
  text-align: center;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1090px;
  border: 1px solid transparent;
  background-color: white;
}
.dark .container {
  background-color: rgb(111, 111, 111);
}
body {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-weight: 400;
  background-position: center top;
  background-color: var(--main-bg);
}
main {
  background-image: url('../img/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
