.main_title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #000;
    text-align: center;
}

body{
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-weight: 400;
}