:root {
  --font-family: "Montserrat Alternates", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Sacramento", sans-serif;
  --main-text-color: #000000;
  --second-text-color: #D9D9D9;
  --number-color: #7E7E7E;
  --pricing-text-color: #D7D7D7;
  --fourth-text-color: #6F6F6F;
  --skills-bg: #BDBDBD;
  --fifth-text-color: #ffffff;
  --light-gray: #797979;
  --gray: #7A7A7A;
  --light: #EEEEEE;
}