<div class="biggest_num">
    <div class="border"></div>
    <h2 class="number__title">Введіть 3 числа</h2>
    <ul class="num__list">
        <input class="num__item" type="text" placeholder="Введіть число" id="one-input">
        <input class="num__item" type="text" placeholder="Введіть число" id="two-input">
        <input class="num__item" type="text" placeholder="Введіть число" id="three-input">
    </ul>
    <p class="number__text" id="time-result">Найбільше число, яке ви ввели -</p>
</div>