<div class="calc card">
  <h2 class="calc_title title">Калькулятор</h2>
  <div class="calc_content">
    <input
      type="text"
      class="calc_content-firstnum"
      placeholder="Введіть число"
    />
    <ul class="calc_content-list">
      <li class="calc_content-item">
        <button class="calc_content-item-plus">+</button>
      </li>
      <li class="calc_content-item">
        <button class="calc_content-item-multiplied">*</button>
      </li>
      <li class="calc_content-item">
        <button class="calc_content-item-minus">-</button>
      </li>
      <li class="calc_content-item">
        <button class="calc_content-item-divided">/</button>
      </li>
    </ul>
    <input
      type="text"
      class="calc_content-secondnum"
      placeholder="Введіть число"
    />
    <button class="calc_content-equals">=</button>
    <p class="calc_content-result">Результат</p>
  </div>
</div>
