<div class="calc card">
  <h2 class="calc_title title">Калькулятор</h2>
  <div class="calc_content">
    <input
      type="number"
      class="calc_content-firstnum firstnum_js"
      placeholder="Введіть число"
    />
    <ul class="calc_content-list">
      <li class="calc_content-item">
        <button class="calc_content-item-plus plus_js">+</button>
      </li>
      <li class="calc_content-item">
        <button class="calc_content-item-multiplied multiplied_js">*</button>
      </li>
      <li class="calc_content-item">
        <button class="calc_content-item-minus minus_js">-</button>
      </li>
      <li class="calc_content-item">
        <button class="calc_content-item-divided divided_js">/</button>
      </li>
    </ul>
    <input
      type="number"
      class="calc_content-secondnum secondnum_js"
      placeholder="Введіть число"
    />
    <button class="calc_content-equals equals_js">=</button>
    <p class="calc_content-result calc_result_js">Результат</p>
  </div>
</div>
