<div class="check_year__section card" id="1">
  <div class="border"></div>
  <h2 class="check_year__title">Перевір в який рік ти народився</h2>
  <ul class="check_year__list">
    <li class="check_year__field">
      <input
        type="text"
        class="check_year__input"
        placeholder="Введіть рік народження"
      />
      <button type="button" class="check_year__but">
        <img src="./img/search.svg" alt="search" />
      </button>
    </li>
    <li class="check_year__result"></li>
  </ul>
</div>
