<footer class="footer">
  <div class="container">
    <img src="../img/logo.svg" alt="logo" />
    <p class="footer_text">
      Тел: +38 (123) 456 78 90 <br />
      E-Mail: codingmagic@gmail.com <br />
      Facebook: CodingMagic <br />
      Twitter: CodingMagic <br />
      Instagram: CodingMagic
    </p>
    <div class="footer_subscribe">
      <form class="footer_subscribe-form">
        <input
          class="footer_subscribe-form-input"
          placeholder="Ваша ел. адреса..."
        />
        <button class="footer_subscribe-form-button">Підписатись</button>
      </form>
      <p class="footer_subscribe-text">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </div>
  </div>
</footer>
