<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal_close_button" type="button" data-modal-close>
        <img src="../img/close.svg" alt="cross">
    </button>
    <h2 class="modal_title">Дякую за підписку!</h2>
    <img src="../img/sword.svg" alt="sword" class="modal_img modal_img-sword">
    <img src="../img/tic-tac-toe.svg" alt="tic-tac-toe" class="modal_img modal_img-ttt">
    <img src="../img/game-development.svg" alt="game" class="modal_img modal_img-game">
    <img src="../img/puzzle.svg" alt="puzzle" class="modal_img modal_img-puzzle">
  </div>
</div>
