<header class="header">
  <div class="container">
    <section class="header__section">
      <div class="logo">
        <img
          src="./img/logo.svg"
          class="logo__img"
          alt="Logo"
          style="width: 93px; height: 38px"
        />
      </div>

      <ul class="header__list">
        <li class="header__item">
          <p class="header__text">
            Інтерактив
            <svg
              class="header__svg"
              width="11"
              height="7"
              viewBox="0 0 11 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10 1L5.5 6L1 1"
                stroke="black"
                stroke-width="0.75"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </p>

          <ul class="header__selector">
            <li>
              <button type="button" class="header__select">Всі секції</button>
            </li>
            <li>
              <button type="button" class="header__select">Числовий</button>
            </li>
            <li>
              <button type="button" class="header__select">Ігровий</button>
            </li>
            <li>
              <button type="button" class="header__select last">
                Ознайомчий
              </button>
            </li>
          </ul>
        </li>

        <li class="header__item">
          <a href="#gallery" class="header__text">Наша команда</a>
        </li>

        <li class="header__item">
          <a href="#footer" class="header__text">Контакти</a>
        </li>
      </ul>

      <ul class="header__call">
        <li class="header__switch">
          <button class="header__switcher">
            <div class="header__icon">
              <img src="./img/sun.png" alt="Sun" class="header__img" data-sun />
              <img
                src="./img/moon.png"
                alt="Moon"
                class="header__img"
                data-moon
              />
            </div>
          </button>
        </li>

        <li>
          <p class="header__greeter">Вітаємо, User!</p>
        </li>
      </ul>
    </section>
  </div>
</header>
