<div class="backdrop" data-modal-header>
  <div class="modal_header">
    <button
      class="modal_header_close-button"
      type="button"
      data-modal-header-close
    >
      <img src="./img/close.svg" alt="cross" />
    </button>
    <p class="modal_header_main-text">
      Привіт! <br />
      Ви потрапили на сайт інтерактивних ігор та завдань <br />
      Надіємось, що вам сподобається і ви отримаєте позитивні емоції! <br />
      Бажаємо Вам гарно провести час!
    </p>
    <p class="modal_header-text">Введіть своє ім’я:</p>
    <form class="modal_header-form">
      <input
        class="modal_header-input"
        type="text"
        placeholder="Ваше ім’я..."
      />
      <button
        type="button"
        class="modal_header-button"
        data-modal-header-close-btn
      >
        Зберегти
      </button>
    </form>

    <img
      src="./img/sword.svg"
      alt="sword"
      class="modal_header_img modal_header_img-sword"
    />
    <img
      src="./img/tic-tac-toe.svg"
      alt="tic-tac-toe"
      class="modal_header_img modal_header_img-ttt"
    />
    <img
      src="./img/game-development.svg"
      alt="game"
      class="modal_header_img modal_header_img-game"
    />
    <img
      src="./img/puzzle.svg"
      alt="puzzle"
      class="modal_header_img modal_header_img-puzzle"
    />
  </div>
</div>
