<div class="gallery__section">
    <div class="border"></div>
    <h2 class="gallery__title card">Наша команда</h2>
    
    <div class="gallery__container">
        <button class="gallery__arrow" data-arrow="left">
            <svg width="52" height="102" viewBox="0 0 52 102" fill="none" xmlns="http://w3.org">
                <path d="M51 1L1 51L51 101" stroke="black" />
            </svg>
        </button>

        <ul class="gallery__list">
            <li class="gallery__item">
                <img class="gallery__img" src="./img/lera.jpg" alt="lera-photo">
                <h3 class="gallery__name">Лера</h3>
                <p class="gallery__info">Teamlead</p>
            </li>
            <li class="gallery__item">
                <img class="gallery__img" src="./img/vova.jpg" alt="Vova-photo">
                <h3 class="gallery__name">Вова</h3>
                <p class="gallery__info">Scrum master</p>
            </li>
            <li class="gallery__item">
                <img class="gallery__img" src="./img/maxim.jpg" alt="max=photo">
                <h3 class="gallery__name">Максим</h3>
                <p class="gallery__info">Developer</p>
            </li>
            <li class="gallery__item">
                <img class="gallery__img" src="./img/kolya.jpg" alt="kolya-photo">
                <h3 class="gallery__name">Коля</h3>
                <p class="gallery__info">Developer</p>
            </li>
            <li class="gallery__item">
                <img class="gallery__img" src="./img/kiril.jpg" alt="kiril-photo">
                <h3 class="gallery__name">Кіріл</h3>
                <p class="gallery__info">Developer</p>
            </li>
        </ul>

        <button class="gallery__arrow" data-arrow="right">
            <svg width="52" height="102" viewBox="0 0 52 102" fill="none" xmlns="http://w3.org">
                <path d="M1 1L51 51L1 101" stroke="black" />
            </svg>
        </button>
    </div>

    <ul class="gallery__indication">
        <li class="gallery__indicator active__indicator"></li>
        <li class="gallery__indicator"></li>
        <li class="gallery__indicator"></li>
        <li class="gallery__indicator"></li>
        <li class="gallery__indicator"></li>
    </ul>
</div>
