<div class="gallery__section card" >
    <div class="border"></div>
    <h2 class="gallery__title">
        Наша команда
    </h2>
    <div class="gallery__container">
        <button class="gallery__arrow" data-arrow="left">
            <svg width="52" height="102" viewBox="0 0 52 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M51 1L1 51L51 101" stroke="black" />
            </svg>
        </button>
        <ul class="gallery__list">
            <li class="gallery__item">
                <div class = "gallery__img"></div>
                <h3 class="gallery__name">Ім’я студента</h3>
                <p class="gallery__info">Інформація про роботу, яку він/вона виконав/ла</p>
            </li>
        </ul>
        <button class="gallery__arrow" data-arrow="right">
            <svg width="52" height="102" viewBox="0 0 52 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L51 51L1 101" stroke="black" />
            </svg>
        </button>
    </div>
    <ul class="gallery__indication">
        <li class="gallery__indicator active__indicator"></li>
        <li class="gallery__indicator"></li>
        <li class="gallery__indicator"></li>
        <li class="gallery__indicator"></li>
        <li class="gallery__indicator"></li>
        <li class="gallery__indicator"></li>
        <li class="gallery__indicator"></li>
    </ul>
</div>