<div class="rsp card">
  <h2 class="rsp_title title">Камінь - ножиці - папір</h2>
  <ul class="rsp_list">
    <li class="rsp_item">
      <button class="rsp_item-button rock_js">
        <img
          src="./img/rock.svg"
          alt="rock"
          style="width: 60px; height: 60px"
        />
      </button>
    </li>
    <li class="rsp_item">
      <button class="rsp_item-button scissors_js">
        <img
          src="./img/scissors.svg"
          alt="scissors"
          style="width: 60px; height: 60px"
        />
      </button>
    </li>
    <li class="rsp_item">
      <button class="rsp_item-button paper_js">
        <img
          src="./img/paper.svg"
          alt="paper"
          style="width: 60px; height: 60px"
        />
      </button>
    </li>
  </ul>
  <p class="rsp_result rsp_result_js"></p>
  <button class="rsp_button rsp_button_js">Варіант компʼютера</button>
  <div class="rsp_score">
    <p class="rsp_score-result rsp_score_js">
      Рахунок <br />
      Комп'ютер - 0 <br />
      Ви - 0
    </p>
  </div>
</div>