<section class="rsp">
  <div class="container">
    <h2 class="rsp_title">Камінь - ножиці - папір</h2>
    <ul class="rsp_list">
      <li class="rsp_item">
        <button class="rsp_item-button">
          <img src="../img/rock.svg" alt="rock" />
        </button>
      </li>
      <li class="rsp_item">
        <button class="rsp_item-button">
          <img src="../img/scissors.svg" alt="scissors" />
        </button>
      </li>
      <li class="rsp_item">
        <button class="rsp_item-button">
          <img src="../img/paper.svg" alt="paper" />
        </button>
      </li>
    </ul>
    <p class="rsp_result"></p>
    <button class="rsp_button">Варіант компʼютера</button>
    <div class="rsp_score">
      <p class="rsp_score-result">Рахунок</p>
      <p class="rsp_score-pc">Комп'ютер - 0</p>
      <p class="rsp_score-you">Ви - 0</p>
    </div>
  </div>
</section>
