<div class="calc_time card">
  <h2 class="calc_time_title title">Калькулятор часу</h2>
  <div class="content_calc_time calc_time_form_js">
    <form class="calc_time_form">
      <input
        class="calc_time_input calc_time_input_js"
        type="text"
        placeholder="Введіть число"
      />
      <button class="calc_time_button" type="submit">
        <img src="./img/search.svg" alt="search" />
      </button>
    </form>
    <img src="./img/loading.svg" alt="loading" />
    <p class="calc_time_text calc_time_text_js">0 дн. 00:00:00</p>
  </div>
</div>
