.check_year {
  &__section {
    width: 576px;
    margin: 0 auto;
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  &__list {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
  }
  &__field {
    display: flex;
    width: 215px;
    height: 35px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    background-color: var(--main-text-color);
    border-radius: 20px;
  }
  &__input {
    border: 0;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 180px;
    height: 35px;
    background: var(--pricing-text-color);
    font-weight: 400;
    font-size: 12px;
    color: var(--number-color);
  }
  &__but {
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    background-color: #000;
    transition: all 0.25s;
    &:hover {
      background-color: var(--hover-bg-btn);
    }
  }
  &__result {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    margin-left: 50px;
  }

  &__result.success {
    color: var(--success-color);
  }

  &__result.error {
    color: var(--danger-color);
  }
}
