.info {
  &__section {
    padding-bottom: 175px;
    margin: 0 auto;
    width: 857px;
    &::after {
      content: '';
      display: block;
      height: 1px;
      background-color: var(--main-text-color);
      width: 536px;
      margin-top: 35px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  &__scientists {
    width: 577px;
    height: 372px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 36px 59px;
    margin: 36px auto 0;
  }
  &__scientist {
    transition: all 0.3s;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #d9d9d9;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    font-size: 8px;
    color: #000;
    &.showAnim {
      opacity: 0;
    }
  }
  &__prompts {
    margin-top: 36px;
    gap: 20px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }
  &__but {
    border-radius: 20px;
    padding: 10px 20px;
    height: 35px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    background-color: #000;
    padding: 10px 20px;
    font-size: 12px;
    color: #ffffff;
    transition:
      background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 50ms,
      color 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 50ms;
    &:hover {
      background-color: #ffffff;
      color: #000;
    }
  }
}
